header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin-bottom: 5px; 
}
main {
    margin-top: 5px;
}

.destacados-section {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px; /* Ajusta el valor según sea necesario */
    margin-bottom: 20px; /* Ajusta el valor según sea necesario */
}

.destacados-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.destacado-card {
    width: 30%;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.destacado-card img {
    width: 100%;
    height: auto;
}

.destacado-card .descripcion {
    padding: 10px;
}